
        body{
            background: #f1f1f1;
            color: rgba(0, 0, 0, 0.6);
        }
        .container { 
            position:relative;
        }
        video {
            position: relative;
            object-fit: fill;
            width: 100%;
            height: 5in;
        }
        .overlay {
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            position:absolute;
            bottom:0;
            width: 100%;
            font-size: 36pt;
            height: 70pt;
        }
        .menu{
            width: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: medium;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            text-align: center;
            position: fixed;
            top: 3%;
        }
        a:hover{background-color: rgba(158, 33, 33, 0.767);}
        .selected_tab{background-color:  rgba(158, 33, 33, 0.767);}
        a {color: #f1f1f1}
        .info td, .how_to_reach td{
            border: transparent solid 5pt;
            font-size:medium;
            vertical-align: middle;
        }
        .info_table{
            border: rgba(0, 0, 0, 0.6) solid; 
            height: 2.8in;
            width: 100%;
        }
        button{
            background-color: rgba(158, 33, 33, 0.6);
            width: 100%;
            color: #f1f1f1;
            border:none;
            font-size: medium;
            cursor: pointer;
        }
        .title{
            font-weight: bold;
            font-size: large;
        }
        .map{
            width: 65%;
            height: 4.7in;
            
        }
        .how_to_reach{
            border: rgba(158, 33, 33, 0.5) solid 5pt;
            background-color: rgba(185, 82, 82, 0.055);
            width: 100%;
        }
        .ticket td {border: rgba(0, 0, 0, 0.6) solid 1pt;}
        .ticket {width: 100%;}
        .footer {
          bottom: 0;
          text-align: center;
          background:rgba(0, 0, 0, 0.6);
          color: #f1f1f1;
        }